# Backend (Laravel)
/backend/vendor
/backend/node_modules
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/.phpunit.cache
/backend/.phpunit.result.cache
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/auth.json
/backend/Homestead.json
/backend/Homestead.yaml

# Frontend (React)
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local

# IDE
/.fleet
/.idea
/.vscode

# Logs
npm-debug.log
yarn-error.log
